In [2]:
!pip install pyodbc 
#libreria per collegarsi al database

Requirement already satisfied: pyodbc in c:\programdata\anaconda3\lib\site-packages (4.0.0-unsupported)

In [3]:
import pyodbc
#SERVER = '5.172.64.20\sqlexpress' indirizzo per collegarsi da casa
SERVER = '192.168.40.16\sqlexpress'
DATABASE = 'zhao.filippo'
USERNAME = 'zhao.filippo'
PASSWORD = 'xxx123##'

In [4]:
connectionString = f'DRIVER={{SQL Server}};SERVER={SERVER};DATABASE={DATABASE};UID={USERNAME};PWD={PASSWORD}' #mettere in un unico posto le informazioni necessarie per connettersi al database

In [5]:
conn = pyodbc.connect(connectionString) #si connette al database

In [6]:
conn

In [7]:
sql_query = """
SELECT * FROM SALES.STAFFS
"""

In [8]:
cursor = conn.cursor()  #zona di memoria per memorizzare informazione dal database
cursor.execute(sql_query)  #esegue la query

records = cursor.fetchall()  #preleva i record del cursore
for r in records:
    print(f"{r.staff_id}\t{r.last_name}\t\t{r.first_name}")  #colonne della tabella staffs

1	Jackson		Fabiola
2	Copeland		Mireya
3	Serrano		Genna
4	Wiggins		Virgie
5	David		Jannette
6	Boyer		Marcelene
7	Daniel		Venita
8	Vargas		Kali
9	Terrell		Layla
10	Houston		Bernardine

In [9]:
import pandas as pd
data = pd.read_sql(sql_query, conn)
data

,staff_id,first_name,last_name,email,phone,active,store_id,manager_id
0,1,Fabiola,Jackson,fabiola.jackson@bikes.shop,(831) 555-5554,1,1,NaN
1,2,Mireya,Copeland,mireya.copeland@bikes.shop,(831) 555-5555,1,1,1.0
2,3,Genna,Serrano,genna.serrano@bikes.shop,(831) 555-5556,1,1,2.0
3,4,Virgie,Wiggins,virgie.wiggins@bikes.shop,(831) 555-5557,1,1,2.0
4,5,Jannette,David,jannette.david@bikes.shop,(516) 379-4444,1,2,1.0
5,6,Marcelene,Boyer,marcelene.boyer@bikes.shop,(516) 379-4445,1,2,5.0
6,7,Venita,Daniel,venita.daniel@bikes.shop,(516) 379-4446,1,2,5.0
7,8,Kali,Vargas,kali.vargas@bikes.shop,(972) 530-5555,1,3,1.0
8,9,Layla,Terrell,layla.terrell@bikes.shop,(972) 530-5556,1,3,7.0
9,10,Bernardine,Houston,bernardine.houston@bikes.shop,(972) 530-5557,1,3,7.0

In [10]:
import sqlalchemy
from sqlalchemy import create_engine

In [11]:
from sqlalchemy.engine import URL
connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connectionString})
engine = create_engine(connection_url)
connAlch = engine.connect()
df = pd.read_sql(sql_query, connAlch)

In [12]:
df

,staff_id,first_name,last_name,email,phone,active,store_id,manager_id
0,1,Fabiola,Jackson,fabiola.jackson@bikes.shop,(831) 555-5554,1,1,NaN
1,2,Mireya,Copeland,mireya.copeland@bikes.shop,(831) 555-5555,1,1,1.0
2,3,Genna,Serrano,genna.serrano@bikes.shop,(831) 555-5556,1,1,2.0
3,4,Virgie,Wiggins,virgie.wiggins@bikes.shop,(831) 555-5557,1,1,2.0
4,5,Jannette,David,jannette.david@bikes.shop,(516) 379-4444,1,2,1.0
5,6,Marcelene,Boyer,marcelene.boyer@bikes.shop,(516) 379-4445,1,2,5.0
6,7,Venita,Daniel,venita.daniel@bikes.shop,(516) 379-4446,1,2,5.0
7,8,Kali,Vargas,kali.vargas@bikes.shop,(972) 530-5555,1,3,1.0
8,9,Layla,Terrell,layla.terrell@bikes.shop,(972) 530-5556,1,3,7.0
9,10,Bernardine,Houston,bernardine.houston@bikes.shop,(972) 530-5557,1,3,7.0